/* color palette from <https://github.com/vuejs/theme> */
:root {
  --yellow: rgb(220, 200, 15);
}

/* semantic color variables for this project */
:root {
  --color-heading: var(--yellow);
  --color-text: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: center / cover no-repeat url("/space-min.jpg") fixed;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  max-height: 100%;
}